@import 'scss/variables';
@import 'scss/mixins';

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }

  /* Base colors */
  --ucsc-light-blue: #d2e7f4;
  --ucsc-primary-blue: #003c6c;
  --ucsc-primary-yellow: #fdc700;
  --ucsc-secondary-blue: #006aad;
  --ucsc-white: #fff;
  --ucsc-lightest-gray: #f5f5f5;
  --ucsc-light-gray: #e3e3e3;
  --ucsc-gray: #c1c4ca;
  --ucsc-medium-gray: #9999a0;
  --ucsc-dark-gray: #555555;
  --ucsc-black: #000;

  /* Typography */
  --font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-sans-serif-condensed: 'Roboto Condensed', sans-serif;
  --font-family-monospace: Monaco, Menlo, Consolas, 'Courier New', monospace;
  --font-family-headlines: var(--font-family-sans-serif);
  --font-family-base: var(--font-family-sans-serif);

  /* Base Units */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  --border-radius: 2px;

  /* Layout */
  --trss-content-width: 80rem;
  --trss-reading-width: 42rem;
  --trss-content-padding: 1rem;
}

/*
  UCSC defaults
*/
.trss-container {
  padding: 0;
  margin: 0;
}

.trss-row__full {
  width: 100%;
}

.trss-row__inner {
  margin: 0 auto;
  max-width: var(--trss-content-width);
  padding: 0 var(--font-size-base); 
}

.trss-narrow {
  max-width: var(--trss-reading-width);
}

/**
 * At 67.5rem, we remove horizontal padding from the inner row
 */
@media screen and (min-width: 67.5rem) {
  .trss-row__inner {
    padding: 0;
  }
}

.trss-hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
