:host {
  display: block;
}

// Breadcrumbs appear on some pages

.trss-breadcrumbs {
  display: block;
  margin-bottom: 1rem;

  ul,
  ol {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    gap: 0.35rem;

    li {
      display: inline-flex;
      list-style: none;
      font-weight: 600;
      color: #555;

      &:not(:last-child):after {
        content: var(--trss-breadcrumbs-separator, '/');
        margin-left: 0.35rem;
        color: #616161;
      }
    }
  }

  a {
    display: block;
    font-weight: normal;

    &:focus,
    &:hover,
    &:active {
      @include hoverActiveFocus;
    }
  }

  &.trss-breadcrumbs__no-trailing-link {
    li:last-child a {
        color: #222;
        cursor: default;
        text-decoration: none;
    }
  }

  }
