:host {
  display: block;
}

.two-blues {
  @media screen and (min-width: $max-width) {
    background: linear-gradient(90deg, #003c6c 40%, #006aad 40%);
  }
}

#ucsc-header__toggle:checked + #ucsc-header__show {
  border: 2px solid red;
}

.ucsc-header {
  background-color: var(--ucsc-secondary-blue);
  max-width: var(--ucsc-content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--font-size-lg);

  @media screen and (min-width: $max-width) {
    background: linear-gradient(128deg, #003c6c 22%, #006aad 22%);
    flex-direction: row;
    justify-content: flex-end;

    &.has-logo {
      justify-content: space-between;
    }
  }
}

.ucsc-header__left {
  padding: 1rem 3rem 1rem 0;
}



.ucsc-header__right {
  background-color: var(--ucsc-secondary-blue);
  display: flex;
  flex-direction: column-reverse;
  gap: var(--font-size-lg);

  @media screen and (min-width: 48em) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--font-size-lg);
  }
}

.ucsc-header__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .9em;
  margin: 0;
  gap: 0.8em;


  li {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1 1 46%;
  }

  a {
    text-transform: none;
    color: var(--ucsc-white);
    padding: .25em .5em;
    text-decoration: none;
  }

  @media screen and (min-width: 48em) {

    flex-wrap: nowrap;
    gap: 1.5em;
    margin: 0;

    > li {
      line-height: 1.2em;
      list-style-type: none;
      flex: auto;
    }

    a {
      border: none;
      background-color: transparent;
      border-radius: 0;
      font-weight: 400;
      padding: 0;
      @include hoverActiveFocus($brand-primary-blue, true);
    }
  }
}

// ## Site Search
// Search box for searching each site.
.ucsc-header__search {
  background-color: var(--ucsc-white);
  border-radius: var(--border-radius);
  border: 1px solid var(--ucsc-white);
  transition: all .1s;
  width: 100%;
  max-width: 20em;

  &:focus-within {
    border: 1px solid var(--ucsc-secondary-blue);
  }

  form > div {
    display: flex;
  }

  label {
    display: block;
    position: absolute;
    text-indent: -100em;
  }

  input[type="text"] {
    border: none;
    border-radius: var(--border-radius);
    padding: 0.3em 0.6em;
    flex-grow: 1;

    &:focus,
    &:hover,
    &:active {
      color: var(--ucsc-dark-gray);
      border: none;
      outline: none;
      box-shadow: none;
    }

  }

  input[type="submit"] {
    background: url(https://ucsc-webassets.netlify.app/images/looking-glass.svg) no-repeat;
    background-size: 22px;
    background-position: center center;
    border: 0;
    left: auto;
    outline: none;
    text-indent: -100em;
    top: 8%;
    width: 2em;
    z-index: 100;
  }


  @media screen and (min-width: 48em) {

    margin-left: 1em;
    width: auto;
    max-width: auto;

    form>div {
      display: block;
    }

  }
}
