:host {
  display: block;
}

.trss-data-list {

  margin-bottom: 2rem;

  > div {
    margin-bottom: 2rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: .25em;
      color: var(--ucsc-primary-blue);
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1.2rem;
  }

  a {

    text-decoration: none;
    display: block;

    .meta {
      color: var(--ucsc-dark-gray);
      letter-spacing: .05em;
      font-size: 0.9rem;
      margin: 0 0 .1rem 0;
    }

    .header {
      color: var(--ucsc-secondary-blue);
      margin: .1rem 0 .25rem 0;
    }

    .description {
      color: var(--ucsc-dark-gray);
      margin: .1rem 0 .5rem 0;
    }

    &:focus,
    &:hover,
    &:active {

      .header {
        @include hoverActiveFocus;
      }
    }
  }


}

